<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tahminoğlu</title>
</head>
<body>

<div>
    <div><h3>iOS için</h3></div>
    <a href="http://bitly.com/tahminoglu">İndir</a>
</div><br/><br/>
<div>
    <div><h3>Android için</h3></div>
    <a href="https://play.google.com/store/apps/details?id=com.tahmindev.tahminoglu">İndir</a>
</div><br/><br/>


<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function (){
        if(navigator.userAgent.toLowerCase().indexOf("android") > -1){
            window.location.href = 'https://play.google.com/store/apps/details?id=com.tahmindev.tahminoglu';
        }
        if(navigator.userAgent.toLowerCase().indexOf("iphone") > -1){
            window.location.href = 'http://bitly.com/tahminoglu';
        }
    });
</script>
</body>
</html>